<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+类名 -->
<mapper namespace="org.suren.autotest.platform.mapping.DataSourceInfoMapper">
	<select id="getAll" resultMap="dataSourceInfoMap">
		select * from data_source_info
	</select>
	
	<select id="getAllIds" resultMap="dataSourceInfoMap">
		select id, name from data_source_info
	</select>
	
	<select id="getAllWithContentByProjectId" resultMap="dataSourceInfoMap">
		select * from data_source_info where project_id = #{projectId}
	</select>
	
	<select id="getAllByProjectId" resultMap="dataSourceInfoMap">
		select id, name, create_time, remark from data_source_info where project_id = #{projectId} order by create_time desc
	</select>

	<select id="getAllByPageId" resultMap="dataSourceInfoMap">
		select * from data_source_info where page_id = #{pageId};
	</select>
	
	<select id="getCountByProjectId" resultType="int">
		select count(*) from data_source_info where project_id = #{projectId}
	</select>
	
	<insert id="save">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT UUID()
		</selectKey>
		
		insert into data_source_info(id, project_id, name, type, resource,
			create_time, remark, page_id)
		values (
			#{id}, #{projectId}, #{name}, #{type}, #{resource},
			#{createTime}, #{remark}, #{pageId}
		)
	</insert>
	
	<update id="update">
		update data_source_info set name = #{name} where id = #{id}
	</update>
	
	<select id="getTotalNum" resultType="int">
		select count(*) from data_source_info
	</select>
	
	<select id="getById" resultMap="dataSourceInfoMap">
		select * from data_source_info where id = #{id}
	</select>
	
	<delete id="delById">
		delete from data_source_info where id = #{id}
	</delete>
	
	<resultMap type="org.suren.autotest.platform.entity.DataSourceInfo" id="dataSourceInfoMap">
		<result property="projectId" column="project_id"/>
		<result property="pageId" column="page_id"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
</mapper>