<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suren.autotest.platform.mapping.SuiteRunnerLogMapper">
	<insert id="save">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT UUID()
		</selectKey>
		insert into suite_runner_log(id, suite_runner_info_id, trigger_user_id,
			message, begin_time, end_time
		) values (#{id}, #{suiteRunnerInfoId}, #{triggerUserId}, #{message},
			#{beginTime}, #{endTime}
		)
	</insert>
	
	<delete id="delById">
		delete from suite_runner_log where id = #{id}
	</delete>
	
	<delete id="delBySuiteRunnerId">
		delete from suite_runner_log where suite_runner_info_id = #{suiteRunnerInfoId}
	</delete>
	
	<delete id="delByTriggerUserId">
		delete from suite_runner_log where trigger_user_id = #{triggerUserId}
	</delete>
	
	<select id="findByRunnerId" resultMap="SuiteRunnerLogMap">
		select id, suite_runner_info_id, trigger_user_id, message,
			begin_time, end_time from suite_runner_log
		where suite_runner_info_id = #{suiteRunnerInfoId}
	</select>
	
	<select id="findById" resultMap="SuiteRunnerLogMap">
		select * from suite_runner_log where id = #{id}
	</select>
	
	<resultMap type="org.suren.autotest.platform.model.SuiteRunnerLog" id="SuiteRunnerLogMap">
		<result property="suiteRunnerInfoId" column="suite_runner_info_id"/>
		<result property="triggerUserId" column="trigger_user_id"/>
		<result property="beginTime" column="begin_time"/>
		<result property="endTime" column="end_time"/>
	</resultMap>
</mapper>