<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suren.autotest.platform.mapping.ProjectMapper">
	<resultMap type="org.suren.autotest.platform.model.TestPlan" id="testPlanMap">
		<result property="suiteRunnerId" column="owner_id"/>
		<result property="cronExp" column="pkg_name"/>
		<result property="createTime" column="create_time"/>
		<result property="ownerId" column=""/>
	</resultMap>
	
	<select id="getById" resultType="Project" resultMap="projectMap">
		select * from project where id = #{id}
	</select>
	
	<select id="getAll" resultMap="projectMap">
		select * from test_plan
	</select>
	
	<insert id="save">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT UUID()
		</selectKey>
		
		insert into project (id, owner_id, name, pkg_name, remark, create_time) values (
			#{id}, #{ownerId}, #{name}, #{pkgName}, #{remark}, #{createTime}
		)
	</insert>
</mapper>