<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.suren.autotest.platform.mapping.TestPlanMapper">
	<resultMap type="org.suren.autotest.platform.model.TestPlan" id="testPlanMap">
		<result property="suiteRunnerId" column="suite_runner_id"/>
		<result property="cronExp" column="cron_exp"/>
		<result property="createTime" column="create_time"/>
		<result property="ownerId" column="owner_id"/>
	</resultMap>
	
	<select id="getById" resultType="TestPlan" resultMap="testPlanMap">
		select * from test_plan where id = #{id}
	</select>
	
	<select id="getAll" resultMap="testPlanMap">
		select * from test_plan
	</select>
	
	<insert id="save">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT UUID()
		</selectKey>
		
		insert into test_plan (id, owner_id, name, suite_runner_id, cron_exp, remark, create_time) values (
			#{id}, #{ownerId}, #{name}, #{suiteRunnerId}, #{cronExp}, #{remark}, #{createTime}
		)
	</insert>
</mapper>